/* DESKTOP FIRST */

/* TABLET */
@media screen and (max-width: 768px) {

    .big-container {
        margin: 0;
        width: 100%;
    }

    .f-text-msg {
        font-size: 3vw;
    }

    /* LEFT */
    .container-left {
        width: 14%;
    }

    .left-header {
        height: 10%;
    }

    .left-header-pp {
        width: 100%;
    }

    .left-header-menu {
        display: none;
    }

    .left-notification {
        display: none;
    }

    .left-searchbar {
        display: none;
    }

    .left-contacts {
        height: 90%;
    }

    .left-contact-pp {
        width: 100%;
    }

    .left-contact-info {
        display: none;
    }

    .left-contact-hour {
        display: none;
    }

    /* RIGHT */

    h2 {
        font-size: 4vw;
    }

    .f-text {
        font-size: 2vw;
    }

    .f-text-big {
        font-size: 2vw;
    }

    .container-right {
        width: 90%;
    }

    .right-header {
        height: 10%;
    }

    .right-header-pp {
        width: 15%;
    }

    .right-header-menu {
        width: 20%;
    }

    .right-header-menu i {
        font-size: 3.5vw;
    }

    .right-header-info {
        width: 65%;
    }

    .msg-screen {
        height: 80%;
        padding-right: 4% ;
        padding-left: 4%;
    }

    .right-text-menu {
        height: 10%;
    }

    .emoji i {
        font-size: 3.5vw;
    }

    .vocal i {
        font-size: 3.5vw;
    }

}


/* MOBILE */
@media screen and (max-width: 481px) {


h2 {
    font-size: 6vw;
}

.f-text-big {
    font-size: 4vw;
}

.f-text {
    font-size: 3vw;
}

.f-text-msg {
    font-size: 4vw;
}

.container-left {
    display: none;
}

.container-right {
    width: 100%;
}

.right-header-pp {
    width: 20%;
}

.right-header-info {
    width: 95%;
}

.right-header-menu {
    display: none;
}

.msg-right-menu {
    width: 25%;
}

.msg-left-menu {
    width: 25%;
}

.emoji {
    display: none;
}

.msg-text {
    width: 100%;
    padding: 1%;
}

.vocal {
    display: none;
}

.hover-menu {
    width: 50%;
}


}

